<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Error</title>
</head>
<body>
    <div class="container">
        <h1>Ocorreu um erro. Volte, verifique as informações e tente novamente</h1>
        <a href="{{ url_for("index") }}">Retornar à home</a>
    </div>


</body>
</html>