<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Clientes</h1>
    <hr>
    <a href="{{ url_for("cadastrarCliente") }}">Cadastrar clientes</a>
    <a href="{{ url_for("listaClientes") }}">Listar clientes</a>
    <br>
    <hr>
    <br>
    <h1>Computadores</h1>
    <hr>
    <a href="{{ url_for("cadastrarComputador") }}">Cadastrar computador</a>
    <a href="{{ url_for("listaComputadores") }}">Listar computadores</a>
    <br>
    <hr>
    <br>
    <h1>Peça</h1>
    <hr>
    <a href="{{ url_for("cadastrarPeca") }}">Cadastrar peça</a>
    <a href="{{ url_for("listaPecas") }}">Listar peças</a>
    <br>
    <hr>
    <br>
    <h1>Upgrade_Revisão</h1>
    <hr>
    <a href="{{ url_for("cadastrarUpgradeRevisao") }}">Cadastrar revisão</a>
    <a href="{{ url_for("listaUpgradeRevisao") }}">Listar revisões</a>
    <br>
    <hr>
    <br>
</body>
</html>