<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>CRUD-Fundamento de Banco de Dados</title>
</head>
<body>

  <div class="container">
  <h1>Projeto de Fundamentos de Banco de Dados</h1>
  <p>Projeto para obtenção de nota parcial da II VA da disciplina de Fundamentos de Banco de Dados, ministrada pela Professora Dra. Roberta Macêdo, no curso de Bacharelado de Sistemas de Informação da UFRPE. Dupla: Daniel Carvalho e João Vitor.</p>

  <div class="row">
      <div class="col-xs-4">
        <h2>Clientes</h2>

        <hr>
        <a href="{{ url_for("cadastrarCliente") }}">Cadastrar clientes</a>
        <br>
        <a href="{{ url_for("listaClientes") }}">Listar clientes</a>
        <br>
        <hr>
      </div>
    <div class="col-xs-4">
        <h2>Computadores</h2>
        <hr>
        <a href="{{ url_for("cadastrarComputador") }}">Cadastrar computador</a>
        <br>
        <a href="{{ url_for("listaComputadores") }}">Listar computadores</a>
        <br>
        <hr>
    </div>
    <div class="col-xs-4">
        <h2>Peça</h2>
        <hr>
        <a href="{{ url_for("cadastrarPeca") }}">Cadastrar peça</a>
        <br>
        <a href="{{ url_for("listaPecas") }}">Listar peças</a>
        <br>
    <hr>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="col-xs-4">
        <h2>Upgrade_Revisão</h2>
        <hr>
        <a href="{{ url_for("cadastrarUpgradeRevisao") }}">Cadastrar serviço</a>
        <br>
        <a href="{{ url_for("listaUpgradeRevisao") }}">Listar serviços</a>
        <br>
        <hr>
    </div>
    <div class="col-xs-4">
        <h2>Peça_Upgrade_Revisão</h2>
        <hr>
        <a href="{{ url_for("cadastrarPecaUpgradeRevisao") }}">Cadastrar peça usada em serviço</a>
        <br>
        <a href="{{ url_for("listaPecaUpgradeRevisao") }}">Listar peças usadas em serviços</a>
        <br>
        <hr>
    </div>

  </div>
  </div>
</body>
</html>
