<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Lista de peças utilizadas em serviços</title>
</head>
<body>
    <h1>Lista de peças utilizadas em serviços</h1>
    <hr>
    <table class="table">
    <thead class="thead-default">
        <tr>
            <th align="center"><h3>Número de série da máquina</h3></th>
            <th align="center"><h3>Data Programada</h3></th>
            <th align="center"><h3>Código da peça</h3></th>
            <th align="center"><h3>Quantidade utilizada</h3></th>
            <th align="center"><h3>Editar</h3></th>
            <th align="center"><h3>Excluir</h3></th>
        </tr>
    </thead>
        {%  for pecaServico in pecasServico %}
        <tr>
            <td>{{ pecaServico.numSerieMaquina }}</td>
            <td>{{ pecaServico.dataProgramadaServico }}</td>
            <td>{{ pecaServico.codPecaServico }}</td>
            <td>{{ pecaServico.quantidade }}</td>
            <td><a href="/editarPecaUpgradeRevisao/{{ pecaServico.numSerieMaquina}}/{{ pecaServico.dataProgramadaServico }}/{{ pecaServico.codPecaServico }}">Editar</a></td>
            <td><a href="/excluirPecaUpgradeRevisao/{{ pecaServico.numSerieMaquina}}/{{ pecaServico.dataProgramadaServico }}/{{ pecaServico.codPecaServico }}">X</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for("index") }}">Retornar à home</a>
</body>
</html>